<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QA Automation V5">
    <test name="Web regression">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.ProductTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
    <test name="API regression">
        <classes>
            <class name="api.AuthApiTest"/>
            <class name="api.BookingApiTest"/>
        </classes>
    </test>
    <test name="Database regression">
        <classes>
            <class name="database.DatabaseValidationTest"/>
        </classes>
    </test>
</suite>
